.spacer {
  flex: 1 1 auto;
}

main {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem 0;

}

.purchase-card {
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
}

.header-card {
  justify-content: center;
}

.actions-card {
  justify-content: end;
}
