<mat-toolbar color="primary">
  <mat-icon>shopping_cart</mat-icon>
  <span i18n class="brand-name">My Orders</span>
</mat-toolbar>

<main>
  @for (purchase of listPurchases; track $index; let index = $index) {
  <mat-card class="purchase-card">
    <mat-card-header class="header-card">
      <mat-card-title>
        <mat-icon class="title-icon">receipt_long</mat-icon>
        <span i18n>Purchase {{ index + 1 }}</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="content-card">
      @for (item of purchase; track $index) {
      <div class="item-row">
        <mat-icon class="item-icon">shopping_bag</mat-icon>
        <div>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ item.quantity }} x {{ item.price | currency }}
          </mat-card-subtitle>
        </div>
      </div>
      }
    </mat-card-content>

    <mat-card-actions class="actions-card">
      <button
        i18n
        color="primary"
        mat-raised-button
        (click)="openStatusOrderModalClick(purchase)"
      >
        <mat-icon class="btn-icon">info</mat-icon>
        See Status
      </button>
    </mat-card-actions>
  </mat-card>
  }
</main>
